component_version: 1

maximum_availability_zones: 5
log_retention: 7

# network_mode: awsvpc

# cpu: 256
# memory: 256
#
# task_definition:
#   data:
#     repo: some.custom.repo
#     image: data
#     tag_param: DataTag
#     not_essential: true
#     env_vars:
#       KEY: value
#   api:
#     repo: some.custom.repo
#     image: api
#     tag_param: ApiTag
#     ports:
#       - 8080
#     env_vars:
#       KEY: value
#     volumes_from:
#       - data
#
# targetgroup:
#   name: api
#   container: api
#   port: 8080
#   protocol: http
#   listener: http
#   healthcheck:
#     path: /status
#     code: 200
#   rules:
#     - path: /v2/*
#       host: api.*
#       priority: 10
#     - path: /api/v1/*
#       host: app.*
#       priority: 20
#   tags:
#       Name: api
